<h1>Edição de médico</h1>
<form class="pure-form pure-form-aligned">
    <div class="pure-control-group">
        <label>Código:</label>
        <label id="codigo">{{medico.Codigo}}</label>
    </div>
    <div class="pure-control-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" maxlength="200" [(ngModel)]="medico.Nome" name="nome">
        <span class="pure-form-message-inline">*</span>
    </div>
    <div class="pure-control-group">
        <label for="crm">CRM:</label>
        <input type="text" id="crm" maxlength="9" [(ngModel)]="medico.CRM" name="crm">
        <span class="pure-form-message-inline">*</span>
    </div>
    <div class="pure-control-group">
        <label for="dataNascimento">Nascimento:</label>    
        <input type="date" id="dataNascimento" [(ngModel)]="medico.DataNascimento" name="dataNascimento">
    </div>
    <div class="pure-controls">
        <button type="button" class="pure-button pure-button-primary" (click)="desejaAlterar(medico.Codigo)">Alterar</button>
        <button type="reset" class="pure-button" >Limpar</button>
        <button type="button" class="pure-button" (click)="back()">Voltar</button>
    </div>
</form>
